@charset "UTF-8";
/* font */
/* header 해당 페이지 선 */
header .menu li:nth-of-type(1) .line {
  width: 100%;
}

/* pc */
/* pc */
/* pc */
@media all and (min-width: 1221px) {
  /* visual */
  /* visual */
  /* visual */
  #visual {
    height: 50vh;
    overflow: hidden;
  }
  #visual .visual-wrap {
    height: 100%;
    background: url(../img/info_visual_bg.jpg) no-repeat center/cover;
    position: relative;
    transform: scale(1.2);
    animation: bg 1.5s forwards;
  }
  #visual .visual-wrap h2 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: up 1s forwards;
    animation-delay: 0.7s;
  }
  /* container */
  /* container */
  /* container */
  /* title 공통 적용 */
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  .title .line {
    height: 2px;
    margin-top: 4px;
  }
  #container {
    width: 100%;
    /* con1 */
    /* con1 */
    /* con1 */
    /* con1 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con4 */
    /* con4 */
    /* con4 */
    /* con4 */
  }
  #container .con1 {
    width: 100%;
    padding: 11vw 0px 12vw;
    background: url(../img/info_con1-bg.svg) no-repeat center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
  }
  #container .con1 .con1-inner {
    width: 80%;
    max-width: 1400px;
    margin: 0px auto;
  }
  #container .con1 .title .line {
    width: 0%;
    background: rgba(255, 255, 255, 0.6);
    transition: 1.3s;
  }
  #container .con1 .con1-content {
    display: flex;
    justify-content: space-between;
    word-break: keep-all;
  }
  #container .con1 .con1-content .con1-left {
    width: 60%;
  }
  #container .con1 .con1-content .con1-left h3 {
    font-size: 30px;
    margin: 120px 0px 60px;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 0.8s;
  }
  #container .con1 .con1-content .con1-left p {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 1.3s;
  }
  #container .con1 .con1-content .con1-left p:nth-of-type(2) {
    margin-top: 30px;
  }
  #container .con1 .con1-content .con1-right {
    width: 35%;
  }
  #container .con1 .con1-content .con1-right img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
    opacity: 0;
    transition: 1s 1.8s;
  }
  @keyframes move {
    100% {
      transform: rotate(180deg);
    }
  }
  #container .con1.on .line {
    width: 60%;
  }
  #container .con1.on .con1-left h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-left p {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-right img {
    opacity: 1;
  }
  #container .con2 {
    width: 100%;
    background: #fafafa;
    padding: 8vw 0px 10vw;
    /* con2 스크롤 효과 */
  }
  #container .con2 .con2-inner {
    width: 100%;
  }
  #container .con2 .con2-inner .con2-title {
    width: 80%;
    max-width: 1500px;
    margin: 0px auto 130px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
  }
  #container .con2 .con2-inner .con2-title h2 {
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con2 .con2-inner .con2-list {
    width: 65%;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  #container .con2 .con2-inner .con2-list li {
    width: 23%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px #e3e3e3;
    opacity: 0;
    overflow: hidden;
  }
  #container .con2 .con2-inner .con2-list li:hover .img-wrap {
    transform: scale(1.1);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(even) {
    transform: translateY(-10%);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(odd) {
    transform: translateY(20%);
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) {
    transition: 1s 1.5s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) {
    transition: 1s 1.8s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) {
    transition: 1s 2.1s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) {
    transition: 1s 2.4s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) .img-wrap {
    background: url(../img/info_con2_1.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) .img-wrap {
    background: url(../img/info_con2_2.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) .img-wrap {
    background: url(../img/info_con2_3.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) .img-wrap {
    background: url(../img/info_con2_4.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li .img-wrap {
    height: 17vw;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-list li p {
    font-size: 20px;
    text-align: center;
    padding: 2vw 0px;
  }
  #container .con2.on .con2-title h2 {
    opacity: 1;
  }
  #container .con2.on .con2-title .line {
    width: 75%;
  }
  #container .con2.on .con2-list li:nth-child(even) {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con2.on .con2-list li:nth-child(odd) {
    opacity: 1;
    transform: translateY(10%);
  }
  #container .con3 {
    padding: 8vw 0px;
    /* con3 스크롤 효과 */
  }
  #container .con3 h2 {
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.8s;
  }
  #container .con3 .con3-list-wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  #container .con3 .con3-list-wrap .con3-bg {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 2s;
  }
  #container .con3 .con3-list-wrap .con3-bg img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
  }
  #container .con3 .con3-list-wrap .con3-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3vw;
    padding: 1.2vw 0px 1.2vw 1.5vw;
    opacity: 0;
    transform: translateY(20px);
  }
  #container .con3 .con3-list-wrap .con3-list li h3 {
    font-family: "Montserrat", sans-serif;
    color: #003fe2;
    font-size: 35px;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap h4 {
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-size: 26px;
    margin-bottom: 10px;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap p {
    font-size: 24px;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(1) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(2) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(3) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(4) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(5) {
    transition: 1s 1s;
  }
  #container .con3.on h2 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con3.on .con3-bg {
    opacity: 0.17;
  }
  #container .con3.on .con3-list li {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4 {
    width: 100%;
    padding: 4vw 0px 8vw;
    /* con4 스크롤 효과 */
  }
  #container .con4 .con4-inner {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
  }
  #container .con4 .con4-inner .con4-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    padding-right: 1vw;
  }
  #container .con4 .con4-inner .con4-title h2 {
    opacity: 0;
    transition: 0.5s;
  }
  #container .con4 .con4-inner .con4-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con4 .con4-inner .map {
    margin: 60px 0px 50px;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .map iframe {
    width: 100%;
    border-radius: 30px;
  }
  #container .con4 .con4-inner .info {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .info p {
    font-size: 20px;
  }
  #container .con4.on h2 {
    opacity: 1 !important;
  }
  #container .con4.on .line {
    width: 80% !important;
  }
  #container .con4.on .map {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4.on .info {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* 태블릿 */
/* 태블릿 */
/* 태블릿 */
@media all and (min-width: 768px) and (max-width: 1220px) {
  /* visual */
  /* visual */
  /* visual */
  #visual {
    height: 50vh;
    overflow: hidden;
  }
  #visual .visual-wrap {
    height: 100%;
    background: url(../img/info_visual_bg.jpg) no-repeat center/cover;
    position: relative;
    transform: scale(1.2);
    animation: bg 1.5s forwards;
  }
  #visual .visual-wrap h2 {
    font-size: 44px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: up 1s forwards;
    animation-delay: 0.7s;
  }
  /* container */
  /* container */
  /* container */
  #container {
    width: 100%;
    /* con1 */
    /* con1 */
    /* con1 */
    /* con1 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con4 */
    /* con4 */
    /* con4 */
    /* con4 */
  }
  #container .con1 {
    width: 100%;
    padding: 11vw 0px 12vw;
    background: url(../img/info_con1-bg.svg) no-repeat center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
  }
  #container .con1 .con1-inner {
    width: 80%;
    max-width: 1400px;
    margin: 0px auto;
  }
  #container .con1 .title .line {
    width: 0%;
    background: rgba(255, 255, 255, 0.6);
    transition: 1.3s;
  }
  #container .con1 .con1-content {
    display: flex;
    justify-content: space-between;
    word-break: keep-all;
  }
  #container .con1 .con1-content .con1-left {
    width: 55%;
  }
  #container .con1 .con1-content .con1-left h3 {
    font-size: 23px;
    margin: 6vw 0px 4vw;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 0.8s;
  }
  #container .con1 .con1-content .con1-left p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 1.3s;
  }
  #container .con1 .con1-content .con1-left p:nth-of-type(2) {
    margin-top: 30px;
  }
  #container .con1 .con1-content .con1-right {
    width: 35%;
  }
  #container .con1 .con1-content .con1-right img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
    opacity: 0;
    transition: 1s 1.8s;
  }
  @keyframes move {
    100% {
      transform: rotate(180deg);
    }
  }
  #container .con1.on .line {
    width: 40%;
  }
  #container .con1.on .con1-left h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-left p {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-right img {
    opacity: 1;
  }
  #container .con2 {
    width: 100%;
    background: #fafafa;
    padding: 10vw 0px 10vw;
    /* con2 스크롤 효과 */
  }
  #container .con2 .con2-inner {
    width: 100%;
  }
  #container .con2 .con2-inner .con2-title {
    width: 80%;
    max-width: 1500px;
    margin: 0px auto 8vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
  }
  #container .con2 .con2-inner .con2-title h2 {
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con2 .con2-inner .con2-list {
    width: 60%;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #container .con2 .con2-inner .con2-list li {
    width: 45%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px #e3e3e3;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 5vw;
  }
  #container .con2 .con2-inner .con2-list li:hover .img-wrap {
    transform: scale(1.1);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(even) {
    transform: translateY(-10%);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(odd) {
    transform: translateY(20%);
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) {
    transition: 1s 1.5s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) {
    transition: 1s 1.8s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) {
    transition: 1s 2.1s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) {
    transition: 1s 2.4s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) .img-wrap {
    background: url(../img/info_con2_1.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) .img-wrap {
    background: url(../img/info_con2_2.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) .img-wrap {
    background: url(../img/info_con2_3.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) .img-wrap {
    background: url(../img/info_con2_4.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li .img-wrap {
    height: 21vw;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-list li p {
    font-size: 16px;
    text-align: center;
    padding: 3.5vw 0px;
  }
  #container .con2.on .con2-title h2 {
    opacity: 1;
  }
  #container .con2.on .con2-title .line {
    width: 75%;
  }
  #container .con2.on .con2-list li:nth-child(even) {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con2.on .con2-list li:nth-child(odd) {
    opacity: 1;
    transform: translateY(10%);
  }
  #container .con3 {
    padding: 10vw 0px;
    /* con3 스크롤 효과 */
  }
  #container .con3 h2 {
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.8s;
  }
  #container .con3 .con3-list-wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  #container .con3 .con3-list-wrap .con3-bg {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 2s;
  }
  #container .con3 .con3-list-wrap .con3-bg img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
  }
  #container .con3 .con3-list-wrap .con3-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4vw;
    padding: 1.2vw 0px 1.2vw 1.5vw;
    opacity: 0;
    transform: translateY(20px);
  }
  #container .con3 .con3-list-wrap .con3-list li h3 {
    font-family: "Montserrat", sans-serif;
    color: #003fe2;
    font-size: 3vw;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap h4 {
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-size: 2.2vw;
    margin-bottom: 10px;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap p {
    font-size: 18px;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(1) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(2) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(3) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(4) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(5) {
    transition: 1s 1s;
  }
  #container .con3.on h2 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con3.on .con3-bg {
    opacity: 0.17;
  }
  #container .con3.on .con3-list li {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4 {
    width: 100%;
    padding: 4vw 0px 12vw;
    /* con4 스크롤 효과 */
  }
  #container .con4 .con4-inner {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
  }
  #container .con4 .con4-inner .con4-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    padding-right: 1vw;
  }
  #container .con4 .con4-inner .con4-title h2 {
    opacity: 0;
    transition: 0.5s;
  }
  #container .con4 .con4-inner .con4-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con4 .con4-inner .map {
    margin: 60px 0px 3vw;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .map iframe {
    width: 100%;
    border-radius: 30px;
  }
  #container .con4 .con4-inner .info {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .info p {
    font-size: 18px;
  }
  #container .con4.on h2 {
    opacity: 1 !important;
  }
  #container .con4.on .line {
    width: 80% !important;
  }
  #container .con4.on .map {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4.on .info {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* 모바일 */
/* 모바일 */
/* 모바일 */
@media all and (max-width: 767px) {
  /* visual */
  /* visual */
  /* visual */
  #visual {
    height: 40vh;
    overflow: hidden;
  }
  #visual .visual-wrap {
    height: 100%;
    background: url(../img/info_visual_bg.jpg) no-repeat center/cover;
    position: relative;
    transform: scale(1.2);
    animation: bg 1.5s forwards;
  }
  #visual .visual-wrap h2 {
    font-size: 35px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    animation: up 1s forwards;
    animation-delay: 0.7s;
  }
  /* container */
  /* container */
  /* container */
  #container {
    width: 100%;
    /* con1 */
    /* con1 */
    /* con1 */
    /* con1 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con2 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con3 */
    /* con4 */
    /* con4 */
    /* con4 */
    /* con4 */
  }
  #container .con1 {
    width: 100%;
    padding: 15vw 0px 15vw;
    background: url(../img/info_con1-bg.svg) no-repeat center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
    /* 스크롤에 따른 효과 */
  }
  #container .con1 .con1-inner {
    width: 80%;
    max-width: 1400px;
    margin: 0px auto;
  }
  #container .con1 .title .line {
    width: 0%;
    background: rgba(255, 255, 255, 0.6);
    transition: 1.3s;
  }
  #container .con1 .con1-content {
    justify-content: space-between;
    word-break: keep-all;
  }
  #container .con1 .con1-content .con1-left {
    width: 90%;
  }
  #container .con1 .con1-content .con1-left h3 {
    font-size: 20px;
    margin: 10vw 0px 5vw;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 0.8s;
  }
  #container .con1 .con1-content .con1-left p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: translateY(40px);
    transition: 1s 1.3s;
  }
  #container .con1 .con1-content .con1-left p:nth-of-type(2) {
    margin-top: 30px;
  }
  #container .con1 .con1-content .con1-right {
    width: 50%;
    margin: 12vw auto 0px;
  }
  #container .con1 .con1-content .con1-right img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
    opacity: 0;
    transition: 1s 1.8s;
  }
  @keyframes move {
    100% {
      transform: rotate(180deg);
    }
  }
  #container .con1.on .line {
    width: 60%;
  }
  #container .con1.on .con1-left h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-left p {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con1.on .con1-right img {
    opacity: 1;
  }
  #container .con2 {
    width: 100%;
    background: #fafafa;
    padding: 15vw 0px 10vw;
    /* con2 스크롤 효과 */
  }
  #container .con2 .con2-inner {
    width: 100%;
  }
  #container .con2 .con2-inner .con2-title {
    width: 80%;
    max-width: 1500px;
    margin: 0px auto 10vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
  }
  #container .con2 .con2-inner .con2-title h2 {
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con2 .con2-inner .con2-list {
    width: 65%;
    max-width: 1500px;
    margin: 0px auto;
    justify-content: space-between;
  }
  #container .con2 .con2-inner .con2-list li {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px #e3e3e3;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 8vw;
  }
  #container .con2 .con2-inner .con2-list li:hover .img-wrap {
    transform: scale(1.1);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(even) {
    transform: translateX(-10%);
  }
  #container .con2 .con2-inner .con2-list li:nth-child(odd) {
    transform: translateX(20%);
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) {
    transition: 1s 1.5s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) {
    transition: 1s 1.8s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) {
    transition: 1s 2.1s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) {
    transition: 1s 2.4s;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(1) .img-wrap {
    background: url(../img/info_con2_1.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(2) .img-wrap {
    background: url(../img/info_con2_2.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(3) .img-wrap {
    background: url(../img/info_con2_3.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li:nth-of-type(4) .img-wrap {
    background: url(../img/info_con2_4.jpg) no-repeat center/cover;
  }
  #container .con2 .con2-inner .con2-list li .img-wrap {
    height: 30vw;
    transition: 0.5s;
  }
  #container .con2 .con2-inner .con2-list li p {
    font-size: 16px;
    text-align: center;
    padding: 6vw 0px;
  }
  #container .con2.on .con2-title h2 {
    opacity: 1;
  }
  #container .con2.on .con2-title .line {
    width: 50%;
  }
  #container .con2.on .con2-list li:nth-child(even) {
    opacity: 1;
    transform: translateX(0px);
  }
  #container .con2.on .con2-list li:nth-child(odd) {
    opacity: 1;
    transform: translateX(10%);
  }
  #container .con3 {
    padding: 15vw 0px;
    /* con3 스크롤 효과 */
  }
  #container .con3 h2 {
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.8s;
  }
  #container .con3 .con3-list-wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  #container .con3 .con3-list-wrap .con3-bg {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 2s;
  }
  #container .con3 .con3-list-wrap .con3-bg img {
    width: 100%;
    animation: move 40s infinite linear forwards alternate;
  }
  #container .con3 .con3-list-wrap .con3-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6vw;
    padding: 1.2vw 0px 1.2vw 1.5vw;
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 5vw;
  }
  #container .con3 .con3-list-wrap .con3-list li h3 {
    font-family: "Montserrat", sans-serif;
    color: #003fe2;
    font-size: 26px;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap h4 {
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-size: 18px;
    margin-bottom: 10px;
  }
  #container .con3 .con3-list-wrap .con3-list li .text-wrap p {
    font-size: 14px;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(1) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(2) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(3) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(4) {
    transition: 1s 1s;
  }
  #container .con3 .con3-list-wrap .con3-list li:nth-of-type(5) {
    transition: 1s 1s;
  }
  #container .con3.on h2 {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con3.on .con3-bg {
    opacity: 0.17;
  }
  #container .con3.on .con3-list li {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4 {
    width: 100%;
    padding: 70px 0px 100px;
    /* con4 스크롤 효과 */
  }
  #container .con4 .con4-inner {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
  }
  #container .con4 .con4-inner .con4-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    padding-right: 1vw;
  }
  #container .con4 .con4-inner .con4-title h2 {
    opacity: 0;
    transition: 0.5s;
  }
  #container .con4 .con4-inner .con4-title .line {
    width: 0%;
    height: 2px;
    background: #111;
    transition: 1s 0.5s;
  }
  #container .con4 .con4-inner .map {
    margin: 12vw 0px 5vw;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .map iframe {
    width: 100%;
    height: 50vw;
    border-radius: 30px;
  }
  #container .con4 .con4-inner .info {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s 1.3s;
  }
  #container .con4 .con4-inner .info p {
    font-size: 16px;
  }
  #container .con4.on h2 {
    opacity: 1 !important;
  }
  #container .con4.on .line {
    width: 55% !important;
  }
  #container .con4.on .map {
    opacity: 1;
    transform: translateY(0px);
  }
  #container .con4.on .info {
    opacity: 1;
    transform: translateY(0px);
  }
}