/* reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}

/* font */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans+KR:wght@500&family=Poppins:wght@300&display=swap");

$ko-font: "Pretendard-Regular";
$en-font: "Montserrat", sans-serif;

$blue2: #003fe2;

/* font */
* {
  font-family: $ko-font;
}

/* 공통 단어별 줄바꿈 */

* {
  word-break: keep-all;
}

/* overflow-x:hidden; 선언 */
// html,
// body {
//   overflow-x: hidden;
// }

/* pc */
/* pc */
/* pc */

@media all and (min-width: 1221px) {
  /* title 공통 적용 */
  .title {
    font-family: $en-font;
    font-size: 40px;
    .line {
      height: 2px;
      margin-top: 4px;
    }
  }

  /* more 버튼 공통 스타일 적용 */
  .more a {
    display: block;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    color: $blue2;
    border: 1px solid $blue2;
    transition: 0.8s;
  }

  .more a:hover {
    background: $blue2;
    color: #fff;
  }

  /* index 뺀 나머지 부분 visual animation */
  @keyframes bg {
    100% {
      transform: scale(1);
    }
  }
  @keyframes up {
    100% {
      opacity: 1;
      top: 50%;
    }
  }

  /* header */

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25vw 10px 4vw;
    box-shadow: 1px 1px 3px 2px #e7e7e7;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90;
    h1 {
      a {
        img {
          width: 120px;
        }
      }
    }
    .menu {
      display: flex;
      gap: 10vw;
      transform: translateY(-15%);
      li {
        position: relative;
        a {
          font-size: 20px;
        }
        .line {
          width: 0%;
          height: 2.5px;
          // background: #0000c9;
          background: $blue2;
          position: absolute;
          bottom: -6px;
          transition: 0.3s;
        }
        &:hover .line {
          width: 100%;
        }
      }
    }

    .mobile-menu-wrap {
      display: none;
    }

    /* 햄버거바, 모바일부터 생성*/

    .ham-wrap {
      width: 40px;
      height: 30px;
      position: relative;
      cursor: pointer;
      display: none;
      li {
        width: 100%;
        height: 4px;
        background: #111;
        position: absolute;
        left: 0px;
      }
      .ham1 {
        top: 0px;
      }
      .ham2 {
        top: 50%;
        transform: translateY(-50%);
      }
      .ham3 {
        bottom: 0px;
      }
    }
  }

  /* footer */

  footer {
    background: #00014c;
    color: #fff;
    padding: 50px 10vw 50px;
    a {
      color: #fff;
    }
    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      .pfizer {
        text-align: center;
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px;
      gap: 10px;
      p {
        opacity: 0.8;
      }
      .sns {
        display: flex;
        gap: 7px;
        li {
          width: 50px;
          height: 50px;
          border-radius: 20px;
          overflow: hidden;
          &:hover {
            opacity: 0.7;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* 태블릿 */
/* 태블릿 */
/* 태블릿 */

@media all and (min-width: 768px) and (max-width: 1220px) {
  /* title 공통 적용 */
  .title {
    font-family: $en-font;
    // font-size: 40px;
    font-size: 32px;
    .line {
      height: 2px;
      margin-top: 4px;
    }
  }

  /* more 버튼 공통 스타일 적용 */
  .more a {
    display: block;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    color: $blue2;
    border: 1px solid $blue2;
    transition: 0.8s;
  }

  .more a:hover {
    background: $blue2;
    color: #fff;
  }

  /* index 뺀 나머지 부분 visual animation */
  @keyframes bg {
    100% {
      transform: scale(1);
    }
  }
  @keyframes up {
    100% {
      opacity: 1;
      top: 50%;
    }
  }

  /* header */

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 14vw 10px 5vw;
    box-shadow: 1px 1px 3px 2px #e7e7e7;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90;
    h1 {
      a {
        img {
          width: 100px;
        }
      }
    }
    .menu {
      display: flex;
      gap: 8vw;
      transform: translateY(-15%);
      li {
        position: relative;
        a {
          font-size: 18px;
        }
        .line {
          width: 0%;
          height: 2.5px;
          // background: #0000c9;
          background: $blue2;
          position: absolute;
          bottom: -6px;
          transition: 0.3s;
        }
        &:hover .line {
          width: 100%;
        }
      }
    }

    .mobile-menu-wrap {
      display: none;
    }

    /* 햄버거바, 모바일부터 생성*/

    .ham-wrap {
      width: 40px;
      height: 30px;
      position: relative;
      cursor: pointer;
      display: none;
      li {
        width: 100%;
        height: 4px;
        background: #111;
        position: absolute;
        left: 0px;
      }
      .ham1 {
        top: 0px;
      }
      .ham2 {
        top: 50%;
        transform: translateY(-50%);
      }
      .ham3 {
        bottom: 0px;
      }
    }
  }

  /* footer */

  footer {
    background: #00014c;
    color: #fff;
    padding: 50px 10vw 50px;
    a {
      color: #fff;
    }
    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      .pfizer {
        text-align: center;
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
      padding-top: 50px;
      p {
        opacity: 0.8;
        span {
          display: none;
        }
      }
      .sns {
        display: flex;
        gap: 7px;
        li {
          width: 50px;
          height: 50px;
          border-radius: 20px;
          overflow: hidden;
          &:hover {
            opacity: 0.7;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* 모바일 */
/* 모바일 */
/* 모바일 */

@media all and (max-width: 767px) {
  /* title 공통 적용 */
  .title {
    font-family: $en-font;
    font-size: 24px;
    white-space: wrap;
    .line {
      height: 2px;
      margin-top: 4px;
    }
  }

  /* more 버튼 공통 스타일 적용 */
  .more a {
    display: block;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    color: $blue2;
    border: 1px solid $blue2;
    transition: 0.8s;
  }

  .more a:hover {
    background: $blue2;
    color: #fff;
  }

  /* index 뺀 나머지 부분 visual animation */
  @keyframes bg {
    100% {
      transform: scale(1);
    }
  }
  @keyframes up {
    100% {
      opacity: 1;
      top: 50%;
    }
  }

  /* header */

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8vw 8px 6vw;
    box-shadow: 1px 1px 3px 2px #e7e7e7;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90;
    h1 {
      position: relative;
      z-index: 100;
      a {
        img {
          width: 80px;
        }
      }
    }
    .menu {
      display: none;
      gap: 10vw;
      transform: translateY(-15%);
      li {
        position: relative;
        a {
          font-size: 20px;
        }
        .line {
          width: 0%;
          height: 2.5px;
          // background: #0000c9;
          background: $blue2;
          position: absolute;
          bottom: -6px;
          transition: 0.3s;
        }
        &:hover .line {
          width: 100%;
        }
      }
    }

    /* 모바일 메뉴 화면 */
    .mobile-menu-wrap {
      position: fixed;
      top: 0px;
      left: 0px;
      transform: translateY(-100%);
      // transform:translateX(100%);
      transition: 1s;
      z-index: 80;
      width: 100%;
      height: 100vh;
      background: rgba(255, 255, 255, 0.95);
      display: flex;
      justify-content: center;
      align-items: center;
      .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 60px;
        li {
          font-size: 30px;
          a {
            display: block;
            height: 100%;
          }
          .line {
            // width: 100%;
            width: 0%;
            height: 3px;
            margin-top: 3px;
            background: #003fe2;
            transition: 0.5s;
          }
          &:hover .line {
            width: 100%;
          }
        }
      }
      &.on {
        transform: translateY(0px);
      }
    }

    /* 햄버거바, 모바일부터 생성*/

    .ham-wrap {
      width: 25px;
      height: 20px;
      position: relative;
      bottom: 3px;
      cursor: pointer;
      display: block;
      z-index: 100;
      li {
        width: 100%;
        height: 3px;
        background: #111;
        position: absolute;
        left: 0px;
        transition: 0.5s;
      }
      .ham1 {
        top: 0px;
      }
      .ham2 {
        top: 50%;
        transform: translateY(-50%);
      }
      .ham3 {
        bottom: 0px;
      }
      &.on .ham1 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &.on .ham2 {
        opacity: 0;
      }
      &.on .ham3 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }

  /* footer */

  footer {
    background: #00014c;
    color: #fff;
    padding: 30px 10vw 30px;
    a {
      color: #fff;
    }
    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      img {
        width: 90px;
      }
      .pfizer {
        text-align: center;
        h4 {
          font-size: 16px;
          margin-bottom: 5px;
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 30px;
      padding-top: 40px;
      p {
        opacity: 0.8;
        font-size: 12px;
        span {
          display: none;
        }
      }
      .sns {
        display: flex;
        gap: 7px;
        li {
          width: 40px;
          height: 40px;
          border-radius: 15px;
          overflow: hidden;
          &:hover {
            opacity: 0.7;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
